/*page style*/
body {
  margin: 0;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, serif;
  line-height: 1.6;
  background-color: #e6dcca;
  color: #39452b;
}

.banner {
  position: fixed;                /* stays on the left while scrolling */
  top: 0;
  left: 0;
  width: 250px;                   /* sidebar thickness */
  height: 100vh;                  /* full viewport height */
  background-image: url('IMG_54892.png'); /* your image */
  background-size: cover;         /* fill the banner area */
  background-position: center;    /* center the image */
  background-repeat: no-repeat;
  z-index: 1000;              
}

/* Push header and content to the right of the banner */
header, main, .content {
  margin-left: 250px;            /* Same as banner width */
}

header h1 {
  font-size: 3rem;           /* adjust as needed */
  font-weight: normal;          /* bold */
  margin: 0;                  /* optional: remove default spacing */
  padding-bottom: 10px;       /* space between text and line */
  border-bottom: 2px solid #000; /* full-width underline */
}

/* nav bar */
nav {
  background-color: #e6dcca;
  text-align: left;
}

nav a {
  display: inline-block;
  color: #39452b;
  text-decoration: none;
  font-size: 1.5em;
  padding: 14px 20px;
  font-weight: normal;
}

nav a:hover {
  background-color: #e6dcca;
}

/* content */
.content {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

/* links */
.content a {
  color: #6b076b;
}
